@import url("https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&display=swap");
@import "tailwindcss";

@plugin "daisyui" {
  themes: pastel --default;
}

@font-face {
  font-family: "Kanit";
  src: url("/font/Kanit/Kanit-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Kanit";
  src: url("/font/Kanit/Kanit-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Kanit";
  src: url("/font/Kanit/Kanit-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Kanit";
  src: url("/font/Kanit/Kanit-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Kanit";
  src: url("/font/Kanit/Kanit-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Kanit";
  src: url("/font/Kanit/Kanit-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Kanit";
  src: url("/font/Kanit/Kanit-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Kanit";
  src: url("/font/Kanit/Kanit-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

* {
  font-family: "Kanit", sans-serif !important;
}